<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="//cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script> 
</head>

<body class="flex h-screen bg-dark text-dark">
    <!-- Main Content -->
    <div class="w-full p-4 text-center">
        <h2 class="text-xl font-bold mb-4">Main Content</h2>
        {% block content %}{% endblock %}
        <!-- Add more content as needed -->
    </div>
    
</body>
    
</html>
